<div class="row wrapper">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   type="text"
                   formControlName="name"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image">Image URL</label>
            <input id="image" type="text"
                   formControlName="imagePath"
                   #imagePath
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description"
                      type="text" class="form-control"
                      formControlName="description"
                      rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row ingredients-mode" *ngFor="let ingredientCtrl of controls; let i = index"
               [formGroupName]="i" >
            <div class="col-xs-8" >
              <input type="text"
                     formControlName="name"
                     class="form-control">
            </div>
            <div class="col-xs-2">
              <input type="number"
                     formControlName="amount"
                     class="form-control">
            </div>
            <div class="col-xs-2">
              <button type="button"
                      class="btn btn-danger"
                      (click)="onDeleteIngredient(i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr>
        <button type="button" class="btn btn-primary" (click)="onAddIngredient()">Add ingredient</button>
      </div>

    </form>
  </div>

</div>
