<div class="container-fluid">
<div class="card"  >
  <div class="">
    <div class="">
      <label for="floatingInputGroup1">Position</label>
      <input type="text" class="form-control" id="floatingInputGroup1" [(ngModel)]="position">
      <p>{{position}}</p>

      <hr>
      <label for="floatingInputGroup2"  innerText="Name">Name</label>

      <input #nameInput type="text"  id="floatingInputGroup2" class="form-control" [(ngModel)]="name">
      <p>{{name}}</p>
    </div>
    <button class="btn btn-primary"  type="submit" [disabled]="name === ''" (click)="onSubmit(nameInput.value)">Push</button>
  </div>
  <hr>

  <div class="">

    <label for="floatingInputGroup3"  innerText="Name">Server Info</label>

    <input #serverNameInput type="text"  id="floatingInputGroup3" class="form-control" [(ngModel)]="serverName">
    <p *ngIf="serverName && flag; else noServer">Server was created with name: {{serverName}}</p>
    <ng-template #noServer>
      <p>Server was not created yet</p>
    </ng-template>
  </div>
  <button class="btn btn-primary"  type="submit" [disabled]="serverName === ''" (click)="onServerCreated(serverNameInput.value)">Push</button>
  <button class="btn btn-danger"  style="margin-left: 10px" type="reset" (click)="onResetServer(serverNameInput.value)" >Reset</button>
</div>

</div>

