.container{
  margin-top: 6rem;
}
li{
  cursor: pointer;
}
.ingredient-list-wrapper{
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  border: 1px solid #b8b6b6;
  background-color: #d9d8d8;
  border-radius: 5px;
  padding: 5px;
}
span{
  display: flex;
  min-width: 5rem;
}

.ingredient-list {
 display: flex;
  justify-content: space-between;
}
.ingredient-list span:nth-child(2) {
 display: flex;
  justify-content: flex-end;
}
.description-list-wrapper{
  margin-top: 3rem;
  border: 1px solid #b8b6b6;
  border-radius: 5px;
  padding: 10px;

}
